{% load crispy_forms_tags %}

<div class="col-sm-12">
  <h4>Post your answer</h4>
  <form method="post"
        action="{% url 'qanda:answer_question' pk=question.id %}">
    {{ answer_form | crispy }}
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" name="action"
            value="PREVIEW">
        Preview
    </button>
    <button class="btn btn-primary" type="submit" name="action"
            value="SAVE">
        Answer
    </button>
  </form>
</div>
